<div class="grid">
  <div class="col-12">
    <h3>Companies</h3>
  </div>

  <div class="col-12 flex flex-wrap justify-content-evenly">
    <div class="card flex justify-content-center" *ngFor="let c of companies">
      <p-card header="{{c.companyName}}" [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
          <img alt="Card" [src]="c.photoId|url" />
        </ng-template>
        <ng-template pTemplate="subtitle">
          <i class="pi pi-building"></i> {{ c.address }} <br>
          <i class="pi pi-link"></i> {{ c.companyUrl }} <br>
          <i class="pi pi-phone"></i> {{ c.companyPhone }}
        </ng-template>
      </p-card>
    </div>

  </div>
</div>
