<div class="grid grid-nogutter">
  <div class="col-12 pl-4">
    <h1>Companies</h1>
  </div>

  <div class="col-12 ">
    <div class="card flex justify-content-center flex-wrap gap-2" *ngFor="let c of companies">
      <p-card class="mb-3" header="{{c.companyName}}" [style]="{ width: '240px' }">
        <ng-template pTemplate="header">
          <img alt="Card" [src]="c.photoId|url" />
        </ng-template>
        <ng-template pTemplate="subtitle">
          <i class="pi pi-building"></i> {{ c.address }} <br>
          <i class="pi pi-link"></i> {{ c.companyUrl }} <br>
          <i class="pi pi-phone"></i> {{ c.companyPhone }}
        </ng-template>
      </p-card>
    </div>

  </div>
</div>
