<!-- <div class="container">
  <h3>Create New Question</h3>
  <form [formGroup]="questionsInsertReqDto" (ngSubmit)="onSubmit()">
    <div class="col-md-9">
      <div class="mb-3 ">
        <div class="col-md-3">
          <div class="mb-3">
            <button type="button" (click)="onAdd()" class="btn btn-primary">Add Question</button>
          </div>
        </div>
      </div>
    </div>

    <div style="margin: 1rem;" *ngFor="let f of forms.controls; let i = index" formArrayName="data">
      <div class="card">
        <div class="card-body">
          <div class="grid align-items-center gy-md-3">
            <div class="col-md-3">
              <div class="mb-3">
                <label for="question-type" class="form-label">Question Type <span class="text-red-500">*</span></label>
              </div>
            </div>

            <div class="col-md-9">
              <div class="mb-3 ">
                <div *ngFor="let t of types" class="form-check">
                  <input class="form-check-input" type="radio" formControlName="questionTypeId" [value]="t.id"
                    id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    {{t.questionType}}
                  </label>
                </div>

              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-3">
                <label for="list-package" class="form-label">Package<span class="text-red-500">*</span></label>
              </div>
            </div>

            <div class="col-md-9">
              <div class="mb-3 ">
                <select class="form-select form-select-sm" id="list-package" aria-label=".form-select-sm example"
                  formControlName="questionPackageId" required>
                  <option *ngFor="let p of packages" [value]='p.id'>
                    {{p.packageName}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-3">
                <label for="list-topic" class="form-label">Topic<span class="text-red-500">*</span></label>
              </div>
            </div>

            <div class="col-md-9">
              <div class="mb-3 ">
                <select class="form-select form-select-sm" id="list-topic" aria-label=".form-select-sm example"
                  formControlName="questionTopicId" required>
                  <option *ngFor="let t of topics" [value]=t.id>{{t.questionTopic}}</option>
                </select>
              </div>
            </div>

            <div class="col-md-3">
              <div class="mb-3">
                <label for="question" class="form-label">Question<span class="text-red-500">*</span>
                </label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mb-3 ">
                <textarea formControlName="question" class="form-control" id="question" rows="2" required></textarea>
              </div>
            </div>
          </div>
          <div class="grid gy-md-3">
            <div class="col-md-3">
              <button type="button" (click)="onAddOption(i)" class="btn btn-primary">Add Options</button>
            </div>
            <div class="grid align-items-center">
              <div formArrayName="questionOptions" *ngFor="let o of questionOption(i).controls; let j = index">
                <div [formGroupName]="j">
                  <div class="col-md-3 gy-md-3">
                    <input type="text" class="form-control" formControlName="optLabel" id="option1">
                  </div>
                  <div class="col-md-2 gy-md-3">
                    <select class="form-select" formControlName="correct" aria-label="Default select example">
                      <option value="true">True</option>
                      <option value="false">False</option>
                    </select>
                  </div>
                  <div class="col-md-2 gy-md-3">
                    <button type="button" (click)="removeOption(i,j)" class="btn btn-danger">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-end">
          <div class="grid ">
            <div class="col-md-12 gy-2">
              <div class="mb-3 ">
                <button type="button" (click)="remove(i)" class=" btn btn-danger">Delete Question</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="grid">
      <div class="col-sm-6 align-items-center gy-md-3">
        <button type="submit" class="btn btn-primary" style="margin-right: 1rem;">Submit</button>
        <a type="button" class="btn btn-secondary" routerLink="/questions">Cancel</a>
      </div>
    </div>
  </form>

</div> -->

<!-- <pre>{{questionsInsertReqDto.value | json}}</pre> -->
<div class="grid justify-content-center">
  <div class="col-12 md:col-10">
    <pre>
      {{questionsInsertReqDto.value | json}}
    </pre>
    <h3>Create Question(s)</h3>
    <div class="card">
      <div>
        <form [formGroup]="questionsInsertReqDto" (ngSubmit)="onSubmit()">
          <div class="col-12 md:col-9">
            <div class="mb-3 ">
              <app-button typeBtn="button" backgroundColor="var(--PRIMARY)" (clickChange)="onAdd()" iconBtn="pi pi-plus"
                label="Add Question">
              </app-button>
            </div>
          </div>

          <div *ngFor="let f of forms.controls; let i = index" formArrayName="newQuestions">
            <p-card styleClass="mb-3" [formGroupName]="i" header="Question {{ i+1 }}">

              <div class="col-12 md:col-12 gy-2">
                <div class="flex justify-content-end">
                  <app-button (clickChange)="remove(i)" label="Remove" iconBtn="pi pi-trash" classBtn="p-button-danger">
                  </app-button>
                </div>
              </div>

              <div class="col-12 md:col-12">
                <div class="mb-3">
                  <label htmlFor="question" class="form-label">Question<span class="text-red-500">*</span>
                  </label>
                  <div class="mb-3 ">
                    <textarea rows="2" cols="30" pInputTextarea [autoResize]="true"
                      formControlName="questionDetail"></textarea>
                  </div>
                </div>
              </div>

              <div class="col-12 md:col-12">
                <app-button typeBtn="button" (click)="onAddOption(i)" iconBtn="pi pi-plus-circle"
                  backgroundColor="var(--PRIMARY)" label="Add Options">
                </app-button>
              </div>

              <div class="col-12" formArrayName="options" *ngFor="let o of questionOption(i).controls; let j = index">

                <div [formGroupName]="j">
                  <h4>Option {{ j+1 }}</h4>
                  <div class="col-12 md:col-3">
                    <input type="text" pInputText formControlName="optionLabel" />
                  </div>
                  <div class="col-12 md:col-3">
                    <p-dropdown formControlName="isCorrect" [options]="options" optionLabel="name" optionValue="value"
                      placeholder="Select option"></p-dropdown>
                  </div>
                  <div class="col-12 md:col-3">
                    <app-button (clickChange)="removeOption(i,j)" iconBtn="pi pi-minus-circle" label="Delete Option"
                      classBtn="p-button-danger">
                    </app-button>
                  </div>
                </div>

              </div>


            </p-card>
          </div>

          <div class="col-12 mt-4">

            <app-button type="submit" backgroundColor="var(--PRIMARY)" label="Submit" class="mr-2">
            </app-button>
            <app-button label="Cancel" classBtn="p-button-secondary" link="/questions"></app-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
