<div class="grid justify-content-center mt-2">
  <div class="col-12 md:col-10">
    <h1>Applied Job(s)</h1>
    <p-card *ngFor="let a of appliedJob" class="p-2">
      <div class="grid">
        <div class="col-12 md:col-3 text-center">
          <p-image [src]=" a.companyPhotoId | url" [preview]="true" alt="Image" width="100">
            <ng-template pTemplate="indicator">
              <i class="pi pi-check"></i>
            </ng-template>
          </p-image>
        </div>
        <div class="col-12 md:col-9">
          <div class="grid">
            <div class="col-12 md:col-6">
              <h4>{{a.jobName}}
              </h4>
              <p-badge [value]="a.statusName" size="large" [severity]="checker(a.statusName)"></p-badge>

            </div>
            <div class="col-12 md:col-6">
              <app-button (clickChange)="getQuestion(a.jobId,a.applicantCode)" backgroundColor="var(--PRIMARY)"
                typeBtn="button" label="Question" class=" mr-2"></app-button>
            </div>
          </div>
          <div class="grid">
            <div class="col-12 md:col-6">
              <p>{{a.companyName}}</p>
            </div>
            <div class="col-12 md:col-6">
              <p>{{a.appliedDate}}</p>
            </div>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>
