<div class="grid justify-content-center mt-2">
  <div class="col-12 md:col-8">
    <p-card header="Saved Jobs">


      <ng-container *ngIf="savedJobs?.length==0">
        <div class="grid text-center">
          <div class="col-12 md:col-12">

            <h1>
              You don't have any saved jobs, try to save one
            </h1>
          </div>

        </div>
      </ng-container>


      <ng-container *ngIf="savedJobs.length > 0">
        <div class="grid">
          <div class="col-12 md:col-12">
            <p-card *ngFor="let s of savedJobs">
              <h1>{{s.jobName}}</h1>
              <!-- jobId: string
                jobName: string
                jobPictureId: string
                companyName: string
                address: string
                startDate: string
                endDate: string -->
            </p-card>
          </div>

        </div>

      </ng-container>










    </p-card>
  </div>


</div>
