<div class="mt-2 ">

  <ng-container *ngIf="!check()">
    <div class="grid grid-nogutter text-center">
      <div class="col-12 md:col-12">
        <h1>
          You don't have any saved jobs, try to save one
        </h1>
      </div>
    </div>
  </ng-container>

  <div *ngIf="check()" class="flex flex-wrap justify-content-center">
    <div class="flex flex-wrap justify-content-center gap-2" *ngFor="let s of savedJobs">
      <p-card styleClass="mt-3 card-hover" class="cursor-pointer" onclick="openDetail(s.jobId)">
        <div class="grid grid-nogutter">
          <p-image class="col-12 md:col-3" [src]=" s.jobPictureId | url" alt="Image" width="125">
          </p-image>
          <div class="col-12 md:col-9">
            <div class="col-12">
              <span style="font-size: 1.75rem; font-weight: bold;"> {{s.jobName}}</span>
            </div>
            <div class="col-12">
              <span style="font-size: 1rem; font-weight: bold;"> {{s.companyName}}</span>
            </div>
          </div>

          <div class="col-12 mt-2">
            <i class="pi pi-building"></i>
            {{s.address}} <br>
            <i class="pi pi-money-bill"></i> IDR {{s.expectedSalaryMin}} - IDR {{ s.expectedSalaryMax }} <br>
            <i class="pi pi-briefcase"></i> {{s.employmenTypeName}} <br>
            <i class="pi pi-clock"></i> {{s.startDate}} <br>
          </div>

        </div>
      </p-card>
    </div>
  </div>

</div>
