<div class="col-12">
  <p-card header="Add New Job">
    <form action="">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label htmlFor="name">Job Name <span class="text-red-500">*</span> </label>
          <input pInputText id="name" required type="text" />
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="company">Company<span class="text-red-500">*</span></label>
          <p-dropdown  optionLabel="company" [showClear]="true" [required]="true" ></p-dropdown>
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="start">Start Date<span class="text-red-500">*</span></label>
          <input pInputText id="start" required type="date" />
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="end">End Date<span class="text-red-500">*</span></label>
          <input pInputText id="end" required type="date" />
        </div>
        <div class="field col-12">
          <label htmlFor="desc">Description<span class="text-red-500">*</span></label>
          <textarea pInputTextarea  id="desc" required rows="4" cols="50"></textarea>
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="min">Minimal Salary<span class="text-red-500">*</span></label>
          <p-inputNumber inputId="min"  mode="currency" currency="IDR" locale="jp-JP"></p-inputNumber>
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="max">Maximal Salary<span class="text-red-500">*</span></label>
          <p-inputNumber inputId="max"  mode="currency" currency="IDR" locale="jp-JP"></p-inputNumber>
        </div>
        <div class="field col-12 md:col-4">
          <label htmlFor="hr">HR Person in Contact<span class="text-red-500">*</span></label>
          <p-dropdown  optionLabel="hr" [showClear]="true" [required]="true" ></p-dropdown>
        </div>
        <div class="field col-12 md:col-4">
          <label htmlFor="pic">PIC Person in Contact<span class="text-red-500">*</span></label>
          <p-dropdown  optionLabel="pic" [showClear]="true" [required]="true" ></p-dropdown>
        </div>
        <div class="field col-12 md:col-4">
          <label htmlFor="type">Employment Type<span class="text-red-500">*</span></label>
          <p-dropdown  optionLabel="type" [showClear]="true" [required]="true" ></p-dropdown>
        </div>
        <div class="col-12 ">
          <label for="picture" class="form-label">Job Picture</label>
        </div>
        <div class="col-12 ">
          <div class="mb-3">
            <p-fileUpload mode="basic" chooseLabel="Upload" styleClass="bg-green-700" chooseIcon="pi pi-upload" class="form-control" #file type="file" id="picture" required ></p-fileUpload>
          </div>
        </div>
      </div>

      <div class="col-12 md:col-9 mb-5 mt-6">
        <app-button backgroundColor="var(--PRIMARY)" [loading]="loading" typeBtn="submit" label="Add" iconBtn="pi pi-plus" class=" mr-2"></app-button>
        <app-button link="/jobs" label="Back"  classBtn="p-button-secondary"></app-button>
      </div>
    </form>
  </p-card>
</div>
