<div class="grid">
  <div class="col-12">
    <div class="card">

      <div class="grid mt-4 mb-3 upper-container flex justify-content-between align-items-center">
        <div class="col-12 md:col-9 title">
          <h2>Job List</h2>
        </div>
        <div class="col-12 md:col-3 buttons">
          <app-button type="button" label="Back" class="mr-2" classBtn="p-button-secondary"
            link="/dashboard"></app-button>
          <app-button type="button" backgroundColor="var(--PRIMARY)" iconBtn="pi pi-fw pi-plus" label="Add new job"
            classBtn="p-button-primary" link="/jobs/new"></app-button>
        </div>

        <div class="card col-12">
          <p-table #dt1 styleClass="p-datatable-sm" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']" [value]="jobs">
            <ng-template pTemplate="caption">
              <div class="flex">
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                  (click)="clear(dt1)"></button>
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" placeholder="Search keyword" />
                </span>
                <!-- [masukin kedalem tag input, setelah type = "text"] => (input)="dt1.filterGlobal($event.target.value, 'contains')" -->
              </div>
            </ng-template>

            <ng-template pTemplate="header">
              <tr>
                <th>
                  No
                </th>
                <th style="min-width:10rem">
                  <div class="flex align-items-center">
                    Job Title
                  </div>
                </th>
                <th style="min-width:10rem">
                  <div class="flex align-items-center">
                    Company Name
                  </div>
                </th>
                <th style="min-width:10rem">
                  <div class="flex align-items-center">
                    Start Date
                  </div>
                </th>
                <th style="min-width:10rem">
                  <div class="flex align-items-center">
                    End Date
                  </div>
                </th>
                <th style="min-width:10rem">
                  <div class="flex align-items-center">
                    Employment Type
                  </div>
                </th>
                <th style="min-width:10rem">
                  <div class="flex align-items-center">
                    Min Salary
                    <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                  </div>
                </th>
                <th style="min-width:10rem">
                  <div class="flex align-items-center">
                    Max Salary
                    <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                  </div>
                </th>
                <th style="min-width:10rem">
                  <div class="flex align-items-center">
                    Option
                    <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-j let-i="rowIndex">
              <tr>
                <td>{{ i+1 }}</td>
                <td>{{j.jobName}}</td>
                <td>{{j.companyName}}</td>
                <td>{{j.startDate}}</td>
                <td>{{j.endDate}}</td>
                <td>{{j.employementTypeName}}</td>
                <td>{{j.expectedSalaryMin}}</td>
                <td>{{j.expectedSalaryMax}}</td>
                <td> <app-button type="button" label="Detail" class="mr-2" classBtn="p-button-secondary"
                    link="/jobs/detail/{{j.id}}"></app-button></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>



    </div>

  </div>
</div>