<div class="grid grid-nogutter">
  <div class="col-12 pl-4">
    <h1>Companies</h1>
  </div>

  <div class="col-12 flex justify-content-center flex-wrap gap-2 mb-5">
    <div class="card " *ngFor="let c of companies">
      <p-card class="mb-3" header="{{c.companyName}}" [style]="{ width: '290px' }">
        <ng-template pTemplate="header">
          <img alt="Card" [src]="c.photoId|url" style="width: 290px; height: 290px;" />
        </ng-template>
        <ng-template pTemplate="subtitle">
          <i class="pi pi-building"></i> {{ c.address }} <br>
          <i class="pi pi-link"></i> {{ c.companyUrl }} <br>
          <i class="pi pi-phone"></i> {{ c.companyPhone }}

        </ng-template>
        <ng-template pTemplate="footer">
          <app-button label="Detail" link="{{c.id}}/detail" backgroundColor="var(--PRIMARY)"></app-button>
        </ng-template>
      </p-card>
    </div>

  </div>
</div>


<!-- <div class="grid grid-nogutter">Halo</div> -->
