<div class="grid m-2">
  <div class="col-12">
    <h1>Companies</h1>
  </div>
  <div class="col-12 md:col-3 flex justify-content-center md:justify-content-start" *ngFor="let c of companies">
    <div class="card card-hover">
      <p-card [style]="{width: '300px', height: '520px'}">
        <ng-template pTemplate="header">
          <img alt="Card" [src]="c.photoId|url" style="width: 300px; height: 250px;" />
        </ng-template>
        <ng-template pTemplate="subtitle">
          <h3 class="mt-0">{{c.companyName}}</h3>
        </ng-template>
        <ng-template pTemplate="content">
          <i class="pi pi-building"> </i> {{ c.address }} <br>
          <i class="pi pi-link"> </i> {{ c.companyUrl }} <br>
          <i class="pi pi-phone"> </i> {{ c.companyPhone }}

        </ng-template>
        <ng-template pTemplate="footer">
          <app-button label="Detail" link="{{c.id}}/detail" backgroundColor="var(--PRIMARY)"></app-button>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>